<%- include ('../header', {title}) %>


</head>

<body>
  
  <canvas id="c"></canvas>


  <script src="<%- assetFingerprint('/javascripts/basics/fundamentals.js') %>" type="module"></script>
</body>

</html>