<%- include ('../header', {title}) %>
<link rel="stylesheet" href="<%- assetFingerprint('/stylesheets/responsive.css') %>"">

</head>

<body>
  
  <canvas id="c"></canvas>


  <script src="<%- assetFingerprint('/javascripts/basics/responsive.js') %>" type="module"></script>
</body>

</html>