<%- include ('./header', {title}) %>


</head>

<body>
  <div class="conteiner">
    <h1>
      ОСНОВЫ THREE JS
    </h1>
    <p>
      lessons from <a href="/https://threejsfundamentals.org/threejs/lessons/ru/">Основы Three.js</a>
    </p>
    <br>
    <br>
    <div>
      <ul>Введение
        <li><a href="/basics/fundamentals">Базовые принципы</a></li>
        <li><a href="/basics/responsive-design">Отзывчивый дизайн</a></li>
      </ul>
      <br>
      <ul>Фундаментальные понятия
        <li><a href="/fundamentals/primitives">Примитивы Three.js</a></li>
        <li><a href="/fundamentals/scenegraph">Граф сцены Three.js</a></li>
        <li><a href="/fundamentals/materials">Материалы Three.js</a></li>
        <li>Текстуры</a></li>
        <li><a href="/fundamentals/lights">Освещение Three.js</a></li>
      </ul>
      <br>
      <ul>my tests
        <li><a href="/mytests/test1">test</a></li>
        <li><a href="/mytests/chart">Буква Т</a></li>
        <li><a href="/mytests/spheres-dom">DomElement / Сферы</a> (from <a href="https://www.youtube.com/watch?v=x68rZ_UEQPE">yoututbe</a>)</li>
        <li><a href="/mytests/load-model">Загрузка 3d модели</a> (from <a href="https://threejsfundamentals.org/threejs/lessons/threejs-load-obj.html">THree JS lesson</a>)</li>
        <li><a href="/mytests/load-ty">Загрузка TY</a></li>
        <li><a href="/mytests/load-tlock">Загрузка T-замка (obj)</a></li>
        <ul> Blender:
          <li><a href="/mytests/load-blender-boxes">Кубик Рубика</a></li>
          <li><a href="/mytests/array-obj">Массив из objs</a></li>
          <li><a href="/mytests/raycast1">Raycast1 (many objs by 1 shape)</a></li>
          <li><a href="/mytests/raycast2">Raycast2 (1 obj with many shapes)</a></li>
          <li><a href="/mytests/bb2">БилБорд2 (my blender objs)</a></li>
        </ul>
      </ul>
    </div>
  </div>
</body>

</html>